$primary-color: #2E302F;
$background-color: #ffffff;
$hover-link: #647B6E;

$font-stack: 'FuturaLT';

$display-width-lg: 1200px;
$display-width-md: 1024px;
$display-width-sm: 768px;
$display-width-xs: 412px;

$secondary-color: #647B6E;
$tertiary-color: #B5C7C9;
$signup-form-color: #597276;
